/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.name {
  color: #7d848a;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header.session-title {
  padding: 0px 16px 0px 24px;
  margin: 4ex 0em 2ex 0em;
  min-height: 27px;
}

img.red {
  background: #c32b72;
  position: absolute;
  top: 18px;
  left: 5px;
  width: 12px;
  height: 12px;
}

img.green {
  background: #33c3ba;
  position: absolute;
  top: 18px;
  left: 5px;
  width: 12px;
  height: 12px;
}

.x_title h2 {
  width: 62%;
  font-size: 17px;
}

.x_title h2 small {
  display: none
}
